# Dependencies
node_modules/

# Build output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Logs
logs
*.log
npm-debug.log*

# Coverage
coverage
*.lcov
.nyc_output

# Caches
.npm
.eslintcache
.stylelintcache
*.tsbuildinfo

# Env
.env
.env.*
!.env.example
!.env.test
mise.local.toml

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.stackdump
*.lnk
